spring:
  jpa:
    hibernate:
      ddl-auto: update
#    show-sql: true
#    properties:
#      hibernate:
#        format_sql: true
  application:
    name: plusmin
  servlet:
    multipart:
      max-file-size: 4MB
      max-request-size: 4MB
  datasource:
    password: pm
    username: pm
    url: jdbc:postgresql://localhost:5434/pm
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: https://api.eu.asgardeo.io/t/plusmin/oauth2/token
          jwk-set-uri: https://api.eu.asgardeo.io/t/plusmin/oauth2/jwks

server:
  servlet:
    context-path: /api/v1
  port: '3045'
  error:
    include-message: always
    include-binding-errors: always
    include-stacktrace: on_param
    include-exception: false

management:
  endpoints:
    web:
      exposure:
        include: "*"

#logging:
#  level:
#    org:
#      springframework:
#        security: DEBUG
